  * {
    margin: 0 ;
    
}
body{
    
    
}
header{
    
    
}
nav {
    
}
#logo {
    max-height: 200px;
    
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
   
    
}
#overons{
    background-color: gold;
    
}
#diensten{
    background-color: green;
}
#contact{
    background-color: aqua;
}
#contactform{
    background-color: red;
}

footer {
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    
}
@media  screen and (max-width: 820px){
    main {
        
        grid-template-columns: 100% ;
    }
    
}