body {}

header {}

nav {
    display: flex;
    background: #fff7e2;


}

p {}

#logo {
    margin-left: 2%;
    margin-bottom: 3%;
    max-height: 130px;
}

#logoFooter {
    margin-top: 3%;
    margin-bottom: 4%;
    max-height: 70px;
}

#foto1,
#foto2,
#foto3 {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    letter-spacing: .06em;
    line-height: 1.8em;
    text-transform: none;
    color: rgba(28, 28, 28, .86);
    padding-bottom: 5px;
}

main h2 {
    /*color: rgb(149, 27, 129) !important;*/
    color: #d39e69;
    font-weight: 900;
}

#overons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding: 50px;
    /*color: #8e643d;*/
}

#diensten {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family: sans-serif;
    /*color: #8e643d;*/
}

#contact {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;

    /*color: #8e643d;*/

}

form {
    display: flex;
    flex-direction: column;

    border: 5px solid #d39e69;
    border-radius: 20px;
    padding: 10px;
}

input[type=text],
input[type=submit],
textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

textarea {
    height: 100px;
}

input[type=submit] {
    background: #d39e69;
    color: white;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: .06em;
}

footer {
    background-color: #d39e69;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;


}

@media screen and (max-width: 920px) {
    main {

        grid-template-columns: 100%;
    }

    main #foto1 {
        order: 1;
    }

    main #overons {
        order: 2;
    }

    main #diensten {
        order: 4;
    }

    main #foto2 {
        order: 3;
    }

    main #contact {
        order: 6;
    }

    main #foto3 {
        order: 5;
    }
}
