  * {
    margin: 0;
}
body{
    display: grid;
}
nav {
    background-color: aqua;
    
    
}

main {
    background-color: red;
    height: 100px;
    
    
    
}

footer {
    background-color: blueviolet;
    height: 100px;
    
    
}
